DATA_DIR=/data/runtime/tidb

BIND_COLON=
BIND_ADDRESS=
COMPOSE_PROJECT_NAME=fs-tidb

TIDB_VERSION=v8.5.3

# PD监听的客户端端口
PD_CLIENT_PORT=2379
# PD节点监听其他PD节点的端口
PD_PEER_PORT=2380

TIKV_SERVER_PORT=20160
TIKV_STATUS_PORT=20180

TIDB_SERVER_PORT=4000
TIDB_STATUS_PORT=10080
